<h1>Edit A Landmark</h1>
<form action="/landmarks/<%=@landmark.id%>" method="post">
    <h3>Name: <%=@landmark.name%></h3>
    <label for="landmark_name"></label>
    <input id="landmark_name" type="text" name="landmark[name]">
    <br>

    <h3>Completed In: <%=@landmark.year_completed%></h3>
    <label for="landmark_year_completed"></label>
    <input id="landmark_year_completed" type="text" name="landmark[year_completed]">
    <br>

    
</form>
