<form action="/landmarks" method="post">
    <label for="landmark_name">Landmark Name: </label>
    <input id="landmark_name" type="text" name="landmark[name]">
    <br>
    
    <label for="landmark_year_completed">Year Completed: </label>
    <input id="landmark_year_completed" type="text" name="landmark[year_completed]">
    <br>

    <input type="submit" name="Create New Landmark" value="Create New Landmark">
</form>
