<form action="/landmarks" method="post">
    <label for="landmark_name"></label>
    <input id="landmark_name" type="text" name="landmark[name]">
    <br>
    <label for="landmark_year_completed">Year Completed</label>
    <input id="landmark_year_completed" type="text" name="landmark[year_completed]">

</form>
