<h1>Create A New Figure</h1>

<form action="figures/new" method="post">
    <label for="figure_name">Figure Name: </label>
    <input id="figure_name" type="text" name="figure[name]">
    <br>
    
    <h2>Title: </h2>
    <%@titles.each do |title|%>
    <label for="title_<%=title.id%>"><%= title.name%></label>
        <input id="title_<%=title.id%>" type="checkbox" name="figure[title_ids][]"><br>
    <%end%>
    <br>
    
    <h2>Landmark: </h2>
    <input id="figure[landmark_ids][]" type="text" name="landmark[name]"> <!-- list all, maybe? -->
    
    <input type="submit" name="Create New Figure" value="Create New Figure">
</form>
